{
  "openapi": "3.1.0",
  "info": { "title": "Language School API", "version": "1.0" },
  "servers": [
    { "url": "http://api.thallassianangel.su:5461", "description": "Generated server url" }
  ],
  "security": [{ "JWT": [] }],
  "paths": {
    "/task/{taskId}/peer-review/assignments/{assignmentId}/assessment": {
      "put": {
        "tags": ["task-controller"],
        "operationId": "editPeerReviewAssessment",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "assignmentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/AssessmentSubmitDTO" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/PeerReviewResultDTO" } }
            }
          }
        }
      }
    },
    "/task/{taskId}/participations/{participationId}/teacher-assessment": {
      "put": {
        "tags": ["grading-controller"],
        "operationId": "submitTeacherAssessment",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "participationId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/AssessmentSubmitDTO" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/AssessmentDTO" } } }
          }
        }
      }
    },
    "/task/{taskId}/participations/{participationId}/self-assessment": {
      "put": {
        "tags": ["grading-controller"],
        "operationId": "submitSelfAssessment",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "participationId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/AssessmentSubmitDTO" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/AssessmentDTO" } } }
          }
        }
      }
    },
    "/task/{taskId}/edit": {
      "put": {
        "tags": ["task-controller"],
        "operationId": "editTask",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/TaskDTO" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/TaskDTO" } } }
          }
        }
      }
    },
    "/task/{taskId}/criteria/{criterionId}": {
      "put": {
        "tags": ["grading-controller"],
        "operationId": "editCriterion",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "criterionId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/TaskCriterionDTO" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/TaskCriterionDTO" } } }
          }
        }
      },
      "delete": {
        "tags": ["grading-controller"],
        "operationId": "deactivateCriterion",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "criterionId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/language/{languageId}/edit": {
      "put": {
        "tags": ["language-controller"],
        "operationId": "editLanguageName",
        "parameters": [
          {
            "name": "languageId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/LanguageDTO" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/LanguageDTO" } } }
          }
        }
      }
    },
    "/course/{courseId}/edit": {
      "put": {
        "tags": ["course-controller"],
        "operationId": "editCourse",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/CourseEditDTO" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/CourseDTO" } } }
          }
        }
      }
    },
    "/comment/{commentId}/edit": {
      "put": {
        "tags": ["comment-controller"],
        "operationId": "editComment",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/CommentDTO" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/CommentDTO" } } }
          }
        }
      }
    },
    "/api/users/teachers/{id}": {
      "get": {
        "tags": ["user-controller"],
        "operationId": "getTeacherById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/UserFullDTO" } } }
          }
        }
      },
      "put": {
        "tags": ["user-controller"],
        "operationId": "updateTeacher",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/TeacherUpdateDTO" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/UserDTO" } } }
          }
        }
      },
      "delete": {
        "tags": ["user-controller"],
        "operationId": "deleteTeacher",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      }
    },
    "/api/users/students/{id}": {
      "get": {
        "tags": ["user-controller"],
        "operationId": "getStudentById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/UserFullDTO" } } }
          }
        }
      },
      "put": {
        "tags": ["user-controller"],
        "operationId": "updateStudent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/StudentUpdateDTO" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/UserDTO" } } }
          }
        }
      },
      "delete": {
        "tags": ["user-controller"],
        "operationId": "deleteStudent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      }
    },
    "/task/{taskId}/teams": {
      "post": {
        "tags": ["task-controller"],
        "operationId": "createTeam",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/TaskTeamCreateDTO" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/TaskTeamDTO" } } }
          }
        }
      }
    },
    "/task/{taskId}/teams/{teamId}/students/{studentId}": {
      "post": {
        "tags": ["task-controller"],
        "operationId": "addStudentToTeam",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/TaskTeamDTO" } } }
          }
        }
      }
    },
    "/task/{taskId}/teams/{teamId}/join": {
      "post": {
        "tags": ["task-controller"],
        "operationId": "joinTeam",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/TaskTeamDTO" } } }
          }
        }
      }
    },
    "/task/{taskId}/teams/{teamId}/grade": {
      "post": {
        "tags": ["task-controller"],
        "operationId": "gradeTeam",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/TaskTeamGradeDTO" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/TaskTeamDTO" } } }
          }
        }
      }
    },
    "/task/{taskId}/teams/{teamId}/captain/{studentId}": {
      "post": {
        "tags": ["task-controller"],
        "operationId": "appointCaptain",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/TaskTeamDTO" } } }
          }
        }
      }
    },
    "/task/{taskId}/submit_solution": {
      "post": {
        "tags": ["task-controller"],
        "operationId": "submitSolution",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/TaskSolutionSubmitDTO" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/TaskTeamDTO" } } }
          }
        }
      }
    },
    "/task/{taskId}/peer-review/my-assignment/submit": {
      "post": {
        "tags": ["task-controller"],
        "operationId": "submitMyPeerReviewAssignment",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/AssessmentSubmitDTO" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/PeerReviewAccessDTO" } }
            }
          }
        }
      }
    },
    "/task/{taskId}/peer-review/manual-assignments": {
      "post": {
        "tags": ["task-controller"],
        "operationId": "assignManualPeerReview",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PeerReviewManualAssignmentDTO" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/PeerReviewAssignmentDTO" } }
            }
          }
        }
      }
    },
    "/task/{taskId}/peer-review/enable": {
      "post": {
        "tags": ["task-controller"],
        "operationId": "enablePeerReview",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/PeerReviewEnableDTO" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/TaskDTO" } } }
          }
        }
      }
    },
    "/task/{taskId}/peer-review/confirm": {
      "post": {
        "tags": ["task-controller"],
        "operationId": "confirmPeerReviewResults",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/PeerReviewResultsDTO" } }
            }
          }
        }
      }
    },
    "/task/{taskId}/participations/{participationId}/vote": {
      "post": {
        "tags": ["task-controller"],
        "operationId": "voteForSolution",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "participationId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/TaskTeamDTO" } } }
          }
        }
      }
    },
    "/task/{taskId}/participations/{participationId}/grade": {
      "post": {
        "tags": ["task-controller"],
        "operationId": "gradeParticipation",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "participationId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/TaskParticipationGradeDTO" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/TaskTeamDTO" } } }
          }
        }
      }
    },
    "/task/{taskId}/finalize": {
      "post": {
        "tags": ["task-controller"],
        "operationId": "finalizeTask",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/TaskTeacherDTO" } } }
          }
        }
      }
    },
    "/task/{taskId}/criteria": {
      "get": {
        "tags": ["grading-controller"],
        "operationId": "getCriteria",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/TaskCriterionDTO" }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["grading-controller"],
        "operationId": "createCriterion",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/TaskCriterionDTO" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/TaskCriterionDTO" } } }
          }
        }
      }
    },
    "/task/{taskId}/complete_task": {
      "post": {
        "tags": ["task-controller"],
        "operationId": "completeTask",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/task/create": {
      "post": {
        "tags": ["task-controller"],
        "operationId": "createTask",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/TaskDTO" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/TaskDTO" } } }
          }
        }
      }
    },
    "/notification/create": {
      "post": {
        "tags": ["notification-controller"],
        "operationId": "createNotification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/NotificationCreationModel" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/NotificationDto" } } }
          }
        }
      }
    },
    "/language/create": {
      "post": {
        "tags": ["language-controller"],
        "operationId": "createLanguage",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/LanguageDTO" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/LanguageDTO" } } }
          }
        }
      }
    },
    "/course/create": {
      "post": {
        "tags": ["course-controller"],
        "operationId": "createCourse",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/CourseCreateDTO" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/CourseDTO" } } }
          }
        }
      }
    },
    "/course/addStudents": {
      "post": {
        "tags": ["course-controller"],
        "operationId": "addStudents",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/CourseStudentAddDTO" } }
          },
          "required": true
        },
        "responses": {
          "200": { "description": "OK", "content": { "*/*": { "schema": { "type": "boolean" } } } }
        }
      }
    },
    "/comment/create": {
      "post": {
        "tags": ["comment-controller"],
        "operationId": "createComment",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/CommentDTO" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/CommentDTO" } } }
          }
        }
      }
    },
    "/auth/register/teacher": {
      "post": {
        "tags": ["auth-controller"],
        "operationId": "registerTeacher",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/RegisterDTO" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/TokenDTO" } } }
          }
        }
      }
    },
    "/auth/register/student": {
      "post": {
        "tags": ["auth-controller"],
        "operationId": "registerStudent",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/RegisterStudentDTO" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/TokenDTO" } } }
          }
        }
      }
    },
    "/auth/register/admin": {
      "post": {
        "tags": ["auth-controller"],
        "operationId": "registerAdmin",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/RegisterDTO" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/TokenDTO" } } }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": ["auth-controller"],
        "operationId": "logout",
        "responses": {
          "200": { "description": "OK", "content": { "*/*": { "schema": { "type": "string" } } } }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": ["auth-controller"],
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/LoginDTO" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/TokenDTO" } } }
          }
        }
      }
    },
    "/attachments": {
      "post": {
        "tags": ["attachment-controller"],
        "operationId": "uploadAttachment",
        "parameters": [
          {
            "name": "taskId",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": { "file": { "type": "string", "format": "binary" } },
                "required": ["file"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/AttachmentDownloadInfo" } }
            }
          }
        }
      }
    },
    "/attachments/to-participation": {
      "post": {
        "tags": ["attachment-controller"],
        "operationId": "uploadAttachmentForParticipation",
        "parameters": [
          {
            "name": "participationId",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": { "file": { "type": "string", "format": "binary" } },
                "required": ["file"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/AttachmentDownloadInfo" } }
            }
          }
        }
      }
    },
    "/attachments/to-notification": {
      "post": {
        "tags": ["attachment-controller"],
        "operationId": "uploadAttachmentForNotification",
        "parameters": [
          {
            "name": "taskId",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": { "file": { "type": "string", "format": "binary" } },
                "required": ["file"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/AttachmentDownloadInfo" } }
            }
          }
        }
      }
    },
    "/api/users/teachers": {
      "get": {
        "tags": ["user-controller"],
        "operationId": "getAllTeachers",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/UserDTO" } }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["user-controller"],
        "operationId": "createTeacher",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/TeacherCreateDTO" } }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/UserDTO" } } }
          }
        }
      }
    },
    "/api/users/students": {
      "get": {
        "tags": ["user-controller"],
        "operationId": "getAllStudents",
        "parameters": [
          {
            "name": "groupId",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/UserDTO" } }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["user-controller"],
        "operationId": "createStudent",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/StudentCreateDTO" } }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/UserDTO" } } }
          }
        }
      }
    },
    "/task/{teacherId}/get_by_teacher": {
      "get": {
        "tags": ["task-controller"],
        "operationId": "getByTeacherId",
        "parameters": [
          {
            "name": "teacherId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/TaskTeacherDTO" }
                }
              }
            }
          }
        }
      }
    },
    "/task/{taskId}/peer-review": {
      "get": {
        "tags": ["task-controller"],
        "operationId": "getPeerReviewSettings",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/PeerReviewSettingsDTO" } }
            }
          }
        }
      }
    },
    "/task/{taskId}/peer-review/results": {
      "get": {
        "tags": ["task-controller"],
        "operationId": "getPeerReviewResults",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/PeerReviewResultsDTO" } }
            }
          }
        }
      }
    },
    "/task/{taskId}/peer-review/my-assignment": {
      "get": {
        "tags": ["task-controller"],
        "operationId": "getMyPeerReviewAssignment",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/PeerReviewAccessDTO" } }
            }
          }
        }
      }
    },
    "/task/{taskId}/participations/{participationId}/assessment": {
      "get": {
        "tags": ["grading-controller"],
        "operationId": "getParticipationAssessment",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "participationId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/ParticipationAssessmentDTO" } }
            }
          }
        }
      }
    },
    "/task/get_by_group_name_real": {
      "get": {
        "tags": ["task-controller"],
        "operationId": "getByGroupNameNew",
        "parameters": [
          { "name": "groupName", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/TaskStudentDTO" }
                }
              }
            }
          }
        }
      }
    },
    "/task/get_by_group_name": {
      "get": {
        "tags": ["task-controller"],
        "operationId": "getByGroupName",
        "parameters": [
          { "name": "groupName", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/TaskStudentDTO" }
                }
              }
            }
          }
        }
      }
    },
    "/task/course/{courseId}": {
      "get": {
        "tags": ["task-controller"],
        "operationId": "getByCourseId",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/TaskStudentDTO" }
                }
              }
            }
          }
        }
      }
    },
    "/notification/for-students/{studentId}": {
      "get": {
        "tags": ["notification-controller"],
        "operationId": "getAllStudentsNotifications",
        "parameters": [
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NotificationDto" }
                }
              }
            }
          }
        }
      }
    },
    "/notification/by-course/{courseId}": {
      "get": {
        "tags": ["notification-controller"],
        "operationId": "getAllCourseNotifications",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NotificationDto" }
                }
              }
            }
          }
        }
      }
    },
    "/language/get_all_languages": {
      "get": {
        "tags": ["language-controller"],
        "operationId": "getLanguages",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/LanguageDTO" }
                }
              }
            }
          }
        }
      }
    },
    "/course": {
      "get": {
        "tags": ["course-controller"],
        "operationId": "getAllCourse",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/CourseDTO" } }
              }
            }
          }
        }
      }
    },
    "/comment/{taskId}/get": {
      "get": {
        "tags": ["comment-controller"],
        "operationId": "getCommentsByTaskId",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/CommentDTO" }
                }
              }
            }
          }
        }
      }
    },
    "/attachments/{attachmentId}/download": {
      "get": {
        "tags": ["attachment-controller"],
        "operationId": "downloadAttachment",
        "parameters": [
          {
            "name": "attachmentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "type": "string", "format": "binary" } } }
          }
        }
      }
    },
    "/api/users": {
      "get": {
        "tags": ["user-controller"],
        "operationId": "getUsers",
        "parameters": [
          {
            "name": "groupId",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/UserDTO" } }
              }
            }
          }
        }
      }
    },
    "/api/users/students/search": {
      "get": {
        "tags": ["user-controller"],
        "operationId": "searchStudents",
        "parameters": [
          { "name": "value", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/UserDTO" } }
              }
            }
          }
        }
      }
    },
    "/api/users/me": {
      "get": {
        "tags": ["user-controller"],
        "operationId": "getMe",
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/UserFullDTO" } } }
          }
        }
      }
    },
    "/task/{taskId}/delete": {
      "delete": {
        "tags": ["task-controller"],
        "operationId": "deleteTask",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/language/{languageId}/delete": {
      "delete": {
        "tags": ["language-controller"],
        "operationId": "deleteLanguage",
        "parameters": [
          {
            "name": "languageId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/course/delete": {
      "delete": {
        "tags": ["course-controller"],
        "operationId": "deleteCourse",
        "parameters": [
          {
            "name": "courseId",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/comment/{commentId}/delete": {
      "delete": {
        "tags": ["comment-controller"],
        "operationId": "deleteComment",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/attachments/{attachmentId}": {
      "delete": {
        "tags": ["attachment-controller"],
        "operationId": "deleteAttachment",
        "parameters": [
          {
            "name": "attachmentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    }
  },
  "components": {
    "schemas": {
      "AssessmentItemRequestDTO": {
        "type": "object",
        "properties": {
          "criterionId": { "type": "string", "format": "uuid" },
          "points": { "type": "integer", "format": "int32" },
          "comment": { "type": "string" }
        }
      },
      "AssessmentSubmitDTO": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AssessmentItemRequestDTO" }
          }
        }
      },
      "AssessmentDTO": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "taskId": { "type": "string", "format": "uuid" },
          "participationId": { "type": "string", "format": "uuid" },
          "assessorId": { "type": "string", "format": "uuid" },
          "type": { "type": "string", "enum": ["TEACHER", "SELF", "PEER"] },
          "status": { "type": "string", "enum": ["DRAFT", "SUBMITTED"] },
          "totalPoints": { "type": "integer", "format": "int32" },
          "totalMaxPoints": { "type": "integer", "format": "int32" },
          "updatedAt": { "type": "string", "format": "date-time" },
          "items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AssessmentItemDTO" }
          }
        }
      },
      "AssessmentItemDTO": {
        "type": "object",
        "properties": {
          "criterionId": { "type": "string", "format": "uuid" },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "maxPoints": { "type": "integer", "format": "int32" },
          "sectionName": { "type": "string" },
          "orderIndex": { "type": "integer", "format": "int32" },
          "active": { "type": "boolean" },
          "points": { "type": "integer", "format": "int32" },
          "comment": { "type": "string" },
          "teacherPoints": { "type": "integer", "format": "int32" },
          "selfPoints": { "type": "integer", "format": "int32" },
          "teacherComment": { "type": "string" },
          "selfComment": { "type": "string" }
        }
      },
      "PeerReviewAssignmentDTO": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "taskId": { "type": "string", "format": "uuid" },
          "reviewerTeamId": { "type": "string", "format": "uuid" },
          "reviewedTeamId": { "type": "string", "format": "uuid" },
          "targetParticipationId": { "type": "string", "format": "uuid" },
          "assessmentId": { "type": "string", "format": "uuid" },
          "status": {
            "type": "string",
            "enum": [
              "ASSIGNED",
              "WITHOUT_REVIEWER",
              "SUBMITTED",
              "TEACHER_REVIEW_REQUIRED",
              "TEACHER_EDITED",
              "FINAL"
            ]
          },
          "createdAt": { "type": "string", "format": "date-time" },
          "submittedAt": { "type": "string", "format": "date-time" },
          "teacherEditorId": { "type": "string", "format": "uuid" },
          "teacherEditedAt": { "type": "string", "format": "date-time" }
        }
      },
      "PeerReviewResultDTO": {
        "type": "object",
        "properties": {
          "taskId": { "type": "string", "format": "uuid" },
          "assignment": { "$ref": "#/components/schemas/PeerReviewAssignmentDTO" },
          "assessment": { "$ref": "#/components/schemas/AssessmentDTO" },
          "reviewerTeamId": { "type": "string", "format": "uuid" },
          "reviewerTeamName": { "type": "string" },
          "reviewedTeamId": { "type": "string", "format": "uuid" },
          "reviewedTeamName": { "type": "string" },
          "targetParticipationId": { "type": "string", "format": "uuid" },
          "status": {
            "type": "string",
            "enum": [
              "ASSIGNED",
              "WITHOUT_REVIEWER",
              "SUBMITTED",
              "TEACHER_REVIEW_REQUIRED",
              "TEACHER_EDITED",
              "FINAL"
            ]
          }
        }
      },
      "TaskDTO": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "deadline": { "type": "string", "format": "date" },
          "courseId": { "type": "string", "format": "uuid" },
          "courseName": { "type": "string" },
          "totalPoints": { "type": "integer", "format": "int32" },
          "maxTeamSize": { "type": "integer", "format": "int32" },
          "minTeamSize": { "type": "integer", "format": "int32" },
          "maxTeamsAmount": { "type": "integer", "format": "int32" },
          "minTeamsAmount": { "type": "integer", "format": "int32" },
          "votesThreshold": { "type": "integer", "format": "int32" },
          "teamsCreationTimeout": { "type": "string" },
          "teamType": { "type": "string", "enum": ["RANDOM", "FREEROAM", "DRAFT"] },
          "resolveType": {
            "type": "string",
            "enum": [
              "FIRST_SUBMITTED_SOLUTION",
              "LAST_SUBMITTED_SOLUTION",
              "CAPTAINS_SOLUTION",
              "MOST_VOTES_SOLUTION",
              "AT_LEAST_VOTES_SOLUTION"
            ]
          },
          "submissionClosed": { "type": "boolean" },
          "peerReviewEnabled": { "type": "boolean" },
          "peerReviewDistributionType": {
            "type": "string",
            "enum": ["MANUAL", "PAIR", "CIRCLE", "RANDOM_PAIR", "RANDOM_CIRCLE"]
          },
          "peerReviewerVisibleToTeams": { "type": "boolean" },
          "peerReviewConfirmedAt": { "type": "string", "format": "date-time" }
        }
      },
      "TaskCriterionDTO": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "taskId": { "type": "string", "format": "uuid" },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "maxPoints": { "type": "integer", "format": "int32" },
          "sectionName": { "type": "string" },
          "orderIndex": { "type": "integer", "format": "int32" },
          "active": { "type": "boolean" }
        }
      },
      "LanguageDTO": {
        "type": "object",
        "properties": { "id": { "type": "string", "format": "uuid" }, "name": { "type": "string" } }
      },
      "CourseEditDTO": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "satisfactorilyMarkThreshold": { "type": "integer", "format": "int32" },
          "goodMarkThreshold": { "type": "integer", "format": "int32" },
          "excellentMarkThreshold": { "type": "integer", "format": "int32" }
        }
      },
      "CourseDTO": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "teacher": { "$ref": "#/components/schemas/UserDTO" },
          "satisfactorilyMarkThreshold": { "type": "integer", "format": "int32" },
          "goodMarkThreshold": { "type": "integer", "format": "int32" },
          "excellentMarkThreshold": { "type": "integer", "format": "int32" }
        }
      },
      "GroupAnswerDTO": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string", "minLength": 1 },
          "description": { "type": "string" },
          "difficulty": {
            "type": "string",
            "enum": ["BEGINNER", "ELEMENTARY", "UPPER_INTERMEDIATE", "ADVANCED", "PROFICIENCY"]
          },
          "language": { "$ref": "#/components/schemas/LanguageDTO" }
        },
        "required": ["name"]
      },
      "UserDTO": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "firstName": { "type": "string" },
          "lastName": { "type": "string" },
          "email": { "type": "string" },
          "groups": { "type": "array", "items": { "$ref": "#/components/schemas/GroupAnswerDTO" } },
          "role": { "type": "string", "enum": ["TEACHER", "STUDENT", "ADMIN"] }
        }
      },
      "CommentDTO": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "text": { "type": "string" },
          "userId": { "type": "string", "format": "uuid" },
          "taskId": { "type": "string", "format": "uuid" },
          "privateStatus": { "type": "boolean" }
        }
      },
      "TeacherUpdateDTO": {
        "type": "object",
        "properties": { "firstName": { "type": "string" }, "lastName": { "type": "string" } }
      },
      "StudentUpdateDTO": {
        "type": "object",
        "properties": {
          "firstName": { "type": "string" },
          "lastName": { "type": "string" },
          "grade": { "type": "string" }
        }
      },
      "TaskTeamCreateDTO": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "captainId": { "type": "string", "format": "uuid" }
        }
      },
      "AttachmentDownloadInfo": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "fileName": { "type": "string" },
          "fileType": { "type": "string" },
          "fileSize": { "type": "integer", "format": "int64" },
          "objectKey": { "type": "string" }
        }
      },
      "TaskParticipationDTO": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "studentId": { "type": "string", "format": "uuid" },
          "studentName": { "type": "string" },
          "captain": { "type": "boolean" },
          "mark": { "type": "integer", "format": "int32" },
          "averageMark": { "type": "number", "format": "double" },
          "votesCount": { "type": "integer", "format": "int32" },
          "solutionStatus": {
            "type": "string",
            "enum": ["DRAFT", "SUBMITTED", "SELECTED", "LOCKED", "OVERDUE"]
          },
          "submittedAt": { "type": "string", "format": "date-time" },
          "selectedSolution": { "type": "boolean" },
          "attachments": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AttachmentDownloadInfo" }
          }
        }
      },
      "TaskTeamDTO": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "commandMark": { "type": "integer", "format": "int32" },
          "averageMark": { "type": "number", "format": "double" },
          "membersCount": { "type": "integer", "format": "int32" },
          "captainId": { "type": "string", "format": "uuid" },
          "solutionParticipationId": { "type": "string", "format": "uuid" },
          "participations": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/TaskParticipationDTO" }
          }
        }
      },
      "TaskTeamGradeDTO": {
        "type": "object",
        "properties": { "mark": { "type": "integer", "format": "int32" } }
      },
      "TaskSolutionSubmitDTO": {
        "type": "object",
        "properties": { "teamId": { "type": "string", "format": "uuid" } }
      },
      "PeerReviewAccessDTO": {
        "type": "object",
        "properties": {
          "taskId": { "type": "string", "format": "uuid" },
          "assignment": { "$ref": "#/components/schemas/PeerReviewAssignmentDTO" },
          "assessment": { "$ref": "#/components/schemas/AssessmentDTO" },
          "reviewerTeamId": { "type": "string", "format": "uuid" },
          "reviewerTeamName": { "type": "string" },
          "reviewedTeamId": { "type": "string", "format": "uuid" },
          "reviewedTeamName": { "type": "string" },
          "targetParticipationId": { "type": "string", "format": "uuid" },
          "status": {
            "type": "string",
            "enum": [
              "ASSIGNED",
              "WITHOUT_REVIEWER",
              "SUBMITTED",
              "TEACHER_REVIEW_REQUIRED",
              "TEACHER_EDITED",
              "FINAL"
            ]
          },
          "canSubmit": { "type": "boolean" },
          "totalMaxPoints": { "type": "integer", "format": "int32" },
          "criteria": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/TaskCriterionDTO" }
          }
        }
      },
      "PeerReviewManualAssignmentDTO": {
        "type": "object",
        "properties": {
          "reviewerTeamId": { "type": "string", "format": "uuid" },
          "reviewedTeamId": { "type": "string", "format": "uuid" }
        },
        "required": ["reviewedTeamId", "reviewerTeamId"]
      },
      "PeerReviewEnableDTO": {
        "type": "object",
        "properties": {
          "peerReviewDistributionType": {
            "type": "string",
            "enum": ["MANUAL", "PAIR", "CIRCLE", "RANDOM_PAIR", "RANDOM_CIRCLE"]
          },
          "peerReviewerVisibleToTeams": { "type": "boolean" }
        },
        "required": ["peerReviewDistributionType"]
      },
      "PeerReviewResultsDTO": {
        "type": "object",
        "properties": {
          "taskId": { "type": "string", "format": "uuid" },
          "peerReviewEnabled": { "type": "boolean" },
          "peerReviewDistributionType": {
            "type": "string",
            "enum": ["MANUAL", "PAIR", "CIRCLE", "RANDOM_PAIR", "RANDOM_CIRCLE"]
          },
          "peerReviewerVisibleToTeams": { "type": "boolean" },
          "peerReviewConfirmedAt": { "type": "string", "format": "date-time" },
          "totalMaxPoints": { "type": "integer", "format": "int32" },
          "results": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PeerReviewResultDTO" }
          }
        }
      },
      "TaskParticipationGradeDTO": {
        "type": "object",
        "properties": { "mark": { "type": "integer", "format": "int32" } }
      },
      "TaskTeacherDTO": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "deadline": { "type": "string", "format": "date" },
          "courseId": { "type": "string", "format": "uuid" },
          "courseName": { "type": "string" },
          "totalPoints": { "type": "integer", "format": "int32" },
          "maxTeamSize": { "type": "integer", "format": "int32" },
          "minTeamSize": { "type": "integer", "format": "int32" },
          "maxTeamsAmount": { "type": "integer", "format": "int32" },
          "minTeamsAmount": { "type": "integer", "format": "int32" },
          "votesThreshold": { "type": "integer", "format": "int32" },
          "teamType": { "type": "string", "enum": ["RANDOM", "FREEROAM", "DRAFT"] },
          "resolveType": {
            "type": "string",
            "enum": [
              "FIRST_SUBMITTED_SOLUTION",
              "LAST_SUBMITTED_SOLUTION",
              "CAPTAINS_SOLUTION",
              "MOST_VOTES_SOLUTION",
              "AT_LEAST_VOTES_SOLUTION"
            ]
          },
          "submissionClosed": { "type": "boolean" },
          "finalizedAt": { "type": "string", "format": "date-time" },
          "peerReviewEnabled": { "type": "boolean" },
          "peerReviewDistributionType": {
            "type": "string",
            "enum": ["MANUAL", "PAIR", "CIRCLE", "RANDOM_PAIR", "RANDOM_CIRCLE"]
          },
          "peerReviewerVisibleToTeams": { "type": "boolean" },
          "peerReviewConfirmedAt": { "type": "string", "format": "date-time" },
          "commentList": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/CommentDTO" }
          },
          "attachmentDownloadInfos": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AttachmentDownloadInfo" }
          },
          "teams": { "type": "array", "items": { "$ref": "#/components/schemas/TaskTeamDTO" } }
        }
      },
      "NotificationCreationModel": {
        "type": "object",
        "properties": {
          "text": { "type": "string" },
          "courseId": { "type": "string", "format": "uuid" },
          "files": { "type": "array", "items": { "type": "string", "format": "binary" } }
        }
      },
      "NotificationDto": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "text": { "type": "string" },
          "courseId": { "type": "string", "format": "uuid" },
          "creationDate": { "type": "string", "format": "date" },
          "createdByTeacherWithId": { "type": "string", "format": "uuid" },
          "attachments": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AttachmentDownloadInfo" }
          }
        }
      },
      "CourseCreateDTO": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "satisfactorilyMarkThreshold": { "type": "integer", "format": "int32" },
          "goodMarkThreshold": { "type": "integer", "format": "int32" },
          "excellentMarkThreshold": { "type": "integer", "format": "int32" },
          "teacherId": { "type": "string", "format": "uuid" },
          "languageId": { "type": "string", "format": "uuid" }
        }
      },
      "CourseStudentAddDTO": {
        "type": "object",
        "properties": {
          "courseId": { "type": "string", "format": "uuid" },
          "studentIds": { "type": "array", "items": { "type": "string", "format": "uuid" } }
        }
      },
      "RegisterDTO": {
        "type": "object",
        "properties": {
          "firstName": { "type": "string", "minLength": 1 },
          "lastName": { "type": "string", "minLength": 1 },
          "email": { "type": "string", "format": "email", "minLength": 1 },
          "password": { "type": "string", "maxLength": 64, "minLength": 8 }
        },
        "required": ["email", "firstName", "lastName", "password"]
      },
      "TokenDTO": {
        "type": "object",
        "properties": { "token": { "type": "string", "minLength": 1 } },
        "required": ["token"]
      },
      "RegisterStudentDTO": {
        "type": "object",
        "properties": {
          "firstName": { "type": "string", "minLength": 1 },
          "lastName": { "type": "string", "minLength": 1 },
          "email": { "type": "string", "format": "email", "minLength": 1 },
          "password": { "type": "string", "maxLength": 64, "minLength": 8 },
          "grade": { "type": "string" }
        },
        "required": ["email", "firstName", "lastName", "password"]
      },
      "LoginDTO": {
        "type": "object",
        "properties": { "email": { "type": "string" }, "password": { "type": "string" } },
        "required": ["email", "password"]
      },
      "TeacherCreateDTO": {
        "type": "object",
        "properties": {
          "email": { "type": "string" },
          "firstName": { "type": "string" },
          "lastName": { "type": "string" },
          "password": { "type": "string" }
        }
      },
      "StudentCreateDTO": {
        "type": "object",
        "properties": {
          "email": { "type": "string" },
          "firstName": { "type": "string" },
          "lastName": { "type": "string" },
          "password": { "type": "string" },
          "grade": { "type": "string" }
        }
      },
      "PeerReviewSettingsDTO": {
        "type": "object",
        "properties": {
          "taskId": { "type": "string", "format": "uuid" },
          "peerReviewEnabled": { "type": "boolean" },
          "peerReviewDistributionType": {
            "type": "string",
            "enum": ["MANUAL", "PAIR", "CIRCLE", "RANDOM_PAIR", "RANDOM_CIRCLE"]
          },
          "peerReviewerVisibleToTeams": { "type": "boolean" },
          "peerReviewConfirmedAt": { "type": "string", "format": "date-time" },
          "hasTeamsWithoutReviewer": { "type": "boolean" },
          "assignments": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PeerReviewAssignmentDTO" }
          },
          "teamsWithoutReviewer": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PeerReviewWithoutReviewerWarningDTO" }
          }
        }
      },
      "PeerReviewWithoutReviewerWarningDTO": {
        "type": "object",
        "properties": {
          "assignmentId": { "type": "string", "format": "uuid" },
          "teamId": { "type": "string", "format": "uuid" },
          "teamName": { "type": "string" },
          "message": { "type": "string" }
        }
      },
      "ParticipationAssessmentDTO": {
        "type": "object",
        "properties": {
          "taskId": { "type": "string", "format": "uuid" },
          "participationId": { "type": "string", "format": "uuid" },
          "totalMaxPoints": { "type": "integer", "format": "int32" },
          "teacherTotal": { "type": "integer", "format": "int32" },
          "selfTotal": { "type": "integer", "format": "int32" },
          "criteria": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AssessmentItemDTO" }
          },
          "teacherAssessment": { "$ref": "#/components/schemas/AssessmentDTO" },
          "selfAssessment": { "$ref": "#/components/schemas/AssessmentDTO" }
        }
      },
      "TaskStudentDTO": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "deadline": { "type": "string", "format": "date" },
          "courseId": { "type": "string", "format": "uuid" },
          "courseName": { "type": "string" },
          "totalPoints": { "type": "integer", "format": "int32" },
          "maxTeamSize": { "type": "integer", "format": "int32" },
          "minTeamSize": { "type": "integer", "format": "int32" },
          "maxTeamsAmount": { "type": "integer", "format": "int32" },
          "minTeamsAmount": { "type": "integer", "format": "int32" },
          "votesThreshold": { "type": "integer", "format": "int32" },
          "teamType": { "type": "string", "enum": ["RANDOM", "FREEROAM", "DRAFT"] },
          "resolveType": {
            "type": "string",
            "enum": [
              "FIRST_SUBMITTED_SOLUTION",
              "LAST_SUBMITTED_SOLUTION",
              "CAPTAINS_SOLUTION",
              "MOST_VOTES_SOLUTION",
              "AT_LEAST_VOTES_SOLUTION"
            ]
          },
          "submissionClosed": { "type": "boolean" },
          "taskStatus": { "type": "string", "enum": ["COMPLETE", "OVERDUE", "PENDING"] },
          "teacher": { "$ref": "#/components/schemas/UserDTO" },
          "participationId": { "type": "string", "format": "uuid" },
          "currentTeamId": { "type": "string", "format": "uuid" },
          "finalizedAt": { "type": "string", "format": "date-time" },
          "peerReviewEnabled": { "type": "boolean" },
          "peerReviewDistributionType": {
            "type": "string",
            "enum": ["MANUAL", "PAIR", "CIRCLE", "RANDOM_PAIR", "RANDOM_CIRCLE"]
          },
          "peerReviewerVisibleToTeams": { "type": "boolean" },
          "peerReviewConfirmedAt": { "type": "string", "format": "date-time" },
          "teams": { "type": "array", "items": { "$ref": "#/components/schemas/TaskTeamDTO" } }
        }
      },
      "UserFullDTO": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "firstName": { "type": "string" },
          "lastName": { "type": "string" },
          "email": { "type": "string" },
          "groups": { "type": "array", "items": { "$ref": "#/components/schemas/GroupAnswerDTO" } },
          "role": { "type": "string", "enum": ["TEACHER", "STUDENT", "ADMIN"] }
        }
      }
    },
    "securitySchemes": {
      "JWT": { "type": "http", "name": "JWT", "scheme": "bearer", "bearerFormat": "JWT" }
    }
  }
}
