<app-card class="admin-form-card">
  <app-card-header>
    <app-card-title>{{ title }}</app-card-title>
  </app-card-header>
  <app-card-content>
    <form (ngSubmit)="onSubmit()" class="admin-form" [formGroup]="form">
      <div class="form-row">
        <app-label for="group-name">Название</app-label>
        <app-input id="group-name" formControlName="name" placeholder="Название группы" />
      </div>
      <div class="form-row">
        <app-label for="group-language">Язык</app-label>
        <app-input id="group-language" formControlName="language" placeholder="Язык" />
      </div>
      <div class="form-actions">
        <app-button type="submit" class="small">Сохранить</app-button>
        <app-button type="button" class="outline small" (click)="onCancel()">Отмена</app-button>
      </div>
    </form>
  </app-card-content>
</app-card>
