<div class="login-page">
  <app-login-card>
    <form [formGroup]="form" (ngSubmit)="onLogin($event)" class="login-form">
      <div class="form-group">
        <app-label for="email">Email</app-label>
        <input
          id="email"
          type="email"
          class="login-input"
          placeholder="your@email.com"
          formControlName="email"
          required
        />
      </div>
      <div class="form-group">
        <app-label for="password">Пароль</app-label>
        <input
          id="password"
          type="password"
          class="login-input"
          placeholder="••••••••"
          formControlName="password"
          required
        />
      </div>
      <app-button type="submit" class="submit-btn">Войти</app-button>
    </form>
  </app-login-card>
</div>
