@import '../create-notification-modal/create-notification-modal.component.less';

.modal__text {
  margin: 0;
  font-size: 18px;
  color: #111827;
  line-height: 1.45;
}

.modal__attachment {
  margin: 14px 0 0;
  font-size: 15px;
  color: #1d4ed8;
}

.modal__btn {
  margin-top: 10px;
}
