<app-card class="admin-form-card">
  <app-card-header>
    <app-card-title>{{ title }}</app-card-title>
  </app-card-header>
  <app-card-content>
    <form (ngSubmit)="onSubmit()" class="admin-form" [formGroup]="form">
      <div class="form-row">
        <app-label for="teacher-name">ФИО</app-label>
        <app-input id="teacher-name" formControlName="fullName" placeholder="ФИО" />
      </div>
      <div class="form-row">
        <app-label for="teacher-email">Email</app-label>
        <app-input id="teacher-email" type="email" formControlName="email" placeholder="email@school.com" />
      </div>
      <div class="form-row">
        <app-label for="teacher-languages">Языки</app-label>
        <app-input id="teacher-languages" formControlName="languages" placeholder="Языки через запятую" />
      </div>
      <div class="form-actions">
        <app-button type="submit" class="small">Сохранить</app-button>
        <app-button type="button" class="outline small" (click)="onCancel()">Отмена</app-button>
      </div>
    </form>
  </app-card-content>
</app-card>
